# Ignore files created by IDEs.
/.vscode/
/.git/

# Ignore compiled files.
**/__pycache__/

# Ignore secret files.
# **/docs/*
# **/conf_data*

# Ignore config files.
# /.env

# Ignore db data files from docker.
# **/data/

# Ignore temp files.
# **/tmp/
# **/test.py

# Files that should not be ignored.
!**/requirements*
!.gitkeep